
.posts {

  &-content {
    padding-top: 20px;
    padding-bottom: 30px;
    box-sizing: border-box;

    // display: grid;
    // grid-auto-flow: row;
    // grid-template-columns: repeat(3, 1fr);

    column-count: 3;
    column-fill: balance;

    @include below($laptop) {
      column-count: 2;
    }

    @include below($sm) {
      column-count: 1;
    }
  }

  &-empty {
    display: block;
    text-align: center;
    font-size: 32px;
    color: black;
    margin-top: 120px;

    h4 {
      font-size: 21px;
      color: $grey-500;
    }
  }
}