
.posts {

  &-content {
    padding-top: 60px;
    padding-bottom: 90px;
    box-sizing: border-box;

    // display: grid;
    // grid-auto-flow: row;
    // grid-template-columns: repeat(3, 1fr);

    column-count: 3;
    column-fill: balance;

    @include below($laptop) {
      column-count: 2;
    }

    @include below($sm) {
      column-count: 1;
    }
  }
}